#container
  font-family: Georgia, "Times New Roman", serif
  font-size: 12px
  line-height: 14px
  color: #666666
a
  color: #888
  text-decoration: underline
  &:hover
    color: #000
p
  margin-bottom: 10px
h1
  font-size: 30px
  color: #000
h2
  color: #333
  font-style: italic
  font-size: 20px
  line-height: 20px
  margin-bottom: 10px

.pedestal
  width: 120px
  height: 178px
  background-color: #bbb
  text-align: center

.movie
  padding: 10px

#mainContent
  width: 980px
  margin: 0px auto
  #header
    height: 60px
    margin: 0px 20px
    h1
      line-height: 60px
  #nav
    display: none
    height: 24px
    margin: 0px 20px 20px 20px
    position: relative
    ul
      li
        float: left
        background-color: #555
        height: 24px
        padding: 0px 8px
        margin-right: 10px
        a
          line-height: 24px
          color: #fff
          text-decoration: none
          &:hover
            text-decoration: underline
    .saving
      display: none
      position: absolute
      top: 0px
      right: 0px
      width: 24px
      height: 24px
      background: image_url("save.gif")
  #login
    margin: 0px 20px 20px 20px
    height: 22px
    #fb-login
      width: 71px
      height: 22px
      display: block
      text-indent: -9999em
      background: image_url("login.png")
      float: left
      margin-right: 10px
    p
      line-height: 22px
  #results
    display: block
    width: 940px
    height: 333px
    margin: 20px
    .graph
      font-size: 10px
      .y-axis
        font-family: Arial, Helvetica, sans-serif
        width: 40px
        height: 333px
        float: left
        .notch
          border-bottom: 1px solid #999
          height: 25px
          line-height: 35px
          text-align: right
          padding-right: 3px
        .sub-notch
          border-bottom: 1px solid #ccc
          margin-left: 20px
          height: 25px
      .blank-item
        width: 40px
        float: left
        .bar
          height: 233px
        .info
          border-top: 1px solid #999
          height: 100px
      .item
        width: 120px
        float: left
        &.alt
        .bar
          height: 233px
          position: relative
          .value
            width: 50px
            background-color: #777
            position: absolute
            left: 10px
            bottom: 0px
        .info
          border-top: 1px solid #999
          height: 100px
          padding: 10px
          line-height: 11px
          .pedestal
            width: 25px
            height: 37px
            float: left
            margin-right: 7px
          p.title
            margin-bottom: 5px
            color: #333
          p.score
            margin-bottom: 0px
            color: #999
  #selector
    position: relative
    #selections
      display: none
      height: 178px
      margin: 0px 0px 0px 20px
      li
        width: 280px
        height: 178px
        padding: 10px
        background-color: #eeeeee
        margin: 0px 20px 20px 0px
        position: relative
        float: left
        .pedestal
          float: left
          margin-right: 10px
        .movie
          position: absolute
          z-index: 10
          top: 0px
          left: 0px
          width: 280px
          .pedestal
            float: left
          p
            padding-top: 30px
    #choices
      margin: 0px 0px 0px 20px
      overflow: auto
      width: 100%
      .movie
        width: 120px
        height: 212px
        background-color: #eeeeee
        margin: 0px 20px 20px 0px
        float: left
        .pedestal
          margin-bottom: 10px
    #selections
      li
        &.state-highlight
          background-color: #ffeeaa
        &.state-hover
          background-color: #333
          color: #fff
          h2
            color: #fff
#footer
  display: none